/* Webfont: TylertheSignature */@font-face {
    font-family: 'Tyler,theSignature';
    src: url('Tyler, the Signature.eot'); /* IE9 Compat Modes */
    src: url('Tyler, the Signature.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Tyler, the Signature.woff') format('woff'), /* Modern Browsers */
         url('Tyler, the Signature.woff2') format('woff2'), /* Modern Browsers */
         url('Tyler, the Signature.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

