/* Webfont: Magellin-Regular */@font-face {
    font-family: 'Magellin';
    src: url('Magellin.woff2') format('woff2'), /* Modern Browsers */
         url('Magellin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

