/* Webfont: Cassavania-Regular */@font-face {
    font-family: 'Cassavania';
    src: url('SignatureScript FONTLABS.woff2') format('woff2'), /* Modern Browsers */
         url('SignatureScript FONTLABS.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

