/* Webfont: Saghea-Regular */@font-face {
    font-family: 'Saghea';
    src: url('Saghea - Ivanna.eot'); /* IE9 Compat Modes */
    src: url('Saghea - Ivanna.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Saghea - Ivanna.woff') format('woff'), /* Modern Browsers */
         url('Saghea - Ivanna.woff2') format('woff2'), /* Modern Browsers */
         url('Saghea - Ivanna.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

