/* Webfont: Magellin-Regular */@font-face {
    font-family: 'Magellin';
    src: url('Magellin.eot'); /* IE9 Compat Modes */
    src: url('Magellin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Magellin.woff') format('woff'), /* Modern Browsers */
         url('Magellin.woff2') format('woff2'), /* Modern Browsers */
         url('Magellin.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

